.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: var(--main-radius);
  padding: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  border-radius: var(--main-radius);
  background-color: var(--extra-b-color);
  padding: 20px;
}
.tasksWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.taskItem::before {
  content: "***";
}
