.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: var(--main-color);
  border-radius: var(--main-radius);
  padding: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.7rem;
}
.description__title {
  font-weight: 700;
  font-size: 2rem;
}
.description__body > span {
  font-weight: 600;
}
.iconsWrapper {
  height: auto;
  width: 30rem;
}
.iconsWrapper > svg {
  filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.5));
}
.circle {
  fill: #e2a600;
}
