.header {
  padding: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: var(--main-radius);
  background-color: var(--main-color);
}
.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}
.headerLinks {
  display: flex;
  gap: 2rem;
}
.headerLinks > * {
  -webkit-tap-highlight-color: transparent;
}
.activeButton {
  margin-left: auto;
}
.fadeIn {
  animation: 0.5s fadeIn none;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@media all and (max-width: 425px) {
  .headerWrapper {
    flex-direction: column;
  }
  .headerLinks {
    justify-content: space-between;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}
