.header {
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: var(--main-radius);
  background-color: var(--main-color);
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
}
.headerLinks {
  display: flex;
  gap: 30px;
}
