@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-color: #ffcf00;
  --extra-a-color: #ffcf00;
  --extra-b-color: #ffa500;
  --main-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
